body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
  color: black;
  transition: .3s;
}
a:hover{
  transition: .3s;
  color: rgb(142, 142, 142);
}

form{
  margin: auto;
  width: 50%;
}
input{
  margin: 10px;
}

.logoutBtn{
    border: 1px solid black;
    border-radius: 20px;
    float: right;
}

